$white:#fff;
// 顶部导航(topnav)
$topBorderColor:#c6cbcf;
$topFontColor:#8d8d8d;
$topBtnBg:#e61e25;
$topHeight:40px;
$topRadius:3px;
$topQrcodeWidth:228px;
$topServiceWidth:325px;
$topExtraWidth:180px;
$topJoinWidth:242px;
// 导航(nav)
$navHeight:64px;
$navLogoWidth:145px;
$navFontColor:#878787;
$navFontHoverColor:#333;
$navBorderColor:#e61e25;
// 轮播图(carousel)

// 专长(expertise)
$expertWidth:1170px;
$expertFontColor:#666;
$expertDtFontSize:18px;
$expertDdFontSize:14px;
// 通知(notify)
$notifySpanColor:#efb513;
$notifyQaColor:#428bca;
// 借贷(loan)
$loanBorderColor:#c6cbcf;
$loanFontColor:$navFontHoverColor;
$loanBColor:$navBorderColor;
// 新闻(news)

// 底部(footer)